USE [db_test]
GO
/****** Object:  StoredProcedure [dbo].[sp_PrinterMaster]    Script Date: 15-09-2026 05:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_PrinterMaster]
(
    @Opcode INT,

    @PrinterAutoId INT = NULL,
    @PrinterName VARCHAR(100) = NULL,
    @Model VARCHAR(100) = NULL,
    @IPAddress VARCHAR(50) = NULL,
    @Status INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- =========================================
    -- 1 = SELECT ALL
    -- =========================================
    IF @Opcode = 1
    BEGIN
        SELECT
            PrinterAutoId,
            PrinterName,
            Model,
            IPAddress,
            Status,
            CreatedDate,
            UpdatedDate
        FROM PrinterMaster
        ORDER BY PrinterAutoId DESC;
    END


    -- =========================================
    -- 2 = INSERT
    -- =========================================
    ELSE IF @Opcode = 2
    BEGIN
        INSERT INTO PrinterMaster
        (
            PrinterName,
            Model,
            IPAddress,
            Status
        )
        VALUES
        (
            @PrinterName,
            @Model,
            @IPAddress,
            @Status
        );

        SELECT
            PrinterAutoId,
            PrinterName,
            Model,
            IPAddress,
            Status,
            CreatedDate,
            UpdatedDate
        FROM PrinterMaster
        WHERE PrinterAutoId = SCOPE_IDENTITY();
    END


    -- =========================================
    -- 3 = UPDATE
    -- =========================================
    ELSE IF @Opcode = 3
    BEGIN
        UPDATE PrinterMaster
        SET
            PrinterName = @PrinterName,
            Model = @Model,
            IPAddress = @IPAddress,
            Status = @Status,
            UpdatedDate = GETDATE()
        WHERE PrinterAutoId = @PrinterAutoId;

        SELECT
            PrinterAutoId,
            PrinterName,
            Model,
            IPAddress,
            Status,
            CreatedDate,
            UpdatedDate
        FROM PrinterMaster
        WHERE PrinterAutoId = @PrinterAutoId;
    END


    -- =========================================
    -- 4 = DELETE
    -- =========================================
    ELSE IF @Opcode = 4
    BEGIN
        DELETE FROM PrinterMaster
        WHERE PrinterAutoId = @PrinterAutoId;

        SELECT
            @PrinterAutoId AS DeletedPrinterAutoId;
    END


    -- =========================================
    -- 5 = GET DETAILS BY ID
    -- =========================================
    ELSE IF @Opcode = 5
    BEGIN
        SELECT
            PrinterAutoId,
            PrinterName,
            Model,
            IPAddress,
            Status,
            CreatedDate,
            UpdatedDate
        FROM PrinterMaster
        WHERE PrinterAutoId = @PrinterAutoId;
    END

END;
